@value layout-size-w from "_theme/var.css";

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pick--layout {
    composes: center;
    .box {
        max-width: layout-size-w;
        width: 80%;
        max-height: calc(100% - 100px);
    }
}