@value layout-size-w from "_theme/var.css";

:local(.core) {
    pointer-events: auto;
    display: block;
    margin-top: -20px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999em;
    top: 50%;
    cursor: pointer;
}

.prev--icon {
    composes: core;
    left: -40px;
    transform: rotate(-90deg);
}

.next--icon {
    composes: core;
    right: -40px;
    transform: rotate(90deg);
}

.arrow {
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;

    .block {
        bottom: 0;
        left: 0;
        margin: 0 auto;
        padding: 40px;
        pointer-events: none;
        position: fixed;
        right: 0;
        top: 0;

        .arrows--icons {
            height: 100%;
            margin: 0 auto;
            max-width: layout-size-w;
            pointer-events: none;
            width: 100%;
            position: relative;
        }
    }
}
