.layout {
    overflow: hidden;

    .box {
        width: 100vw;
        height: 100vh;
        border: none;
    }

    .button {
        padding: 15px 75px;
        letter-spacing: 1px;
        transition: 0.3s ease all;
        background-color: var(--btn-bg);
        color: #FFF;

        &:hover {
            background-color: var(--btn-bg-hover);
            border: none;
        }
    }
}
