:root {
    /* colors */
    --bg                : #fff;
    --bg-section        : #778899;
    --main-color        : #2F4F4F;
    --font-color        : #646473;
    --font-title        : #363837;
    --btn-bg            : #989fb3;
    --btn-bg-hover      : #93969e;
    --theme-primary     : #A7A8AA;
    --theme-accent      : #EBECED;

    /* palette of gray */
    --grey-100          : #F5F6F7;
    --grey-200          : #EBECED;
    --grey-300          : #C5C6C7;
    --grey-400          : #A7A8AA;
    --grey-500          : #898A8C;
    --grey-600          : #6B6C6F;
    --grey-700          : #404144;
    --grey-800          : #222426;
}