/*
    sm                  ➡ small
    md                  ➡ medium
    lg                  ➡ large

    ph                  ➡ phone
    tab                 ➡ tablet
    deskt               ➡ desktop 
*/

/* display size */
$ph-portrait            : "(width <= 414px)";
$ph-lanscape            : "(width >= 415px) and (width <= 667px)";
$tab-portrait           : "(width >= 668px) and (width <= 768px)";
$tab-landscape          : "(width >= 769px) and (width <= 1024px)";
$deskt-sm               : "(width >= 1025px) and (width <= 1366px)";
$deskt-md               : "(width >= 1367px) and (width <= 1680px)";
$deskt-lg               : "(width >= 1681px) and (width <= 1920px)";
$deskt-xl               : "(width >= 1921px)";

/* font-size */
$p-font-size-ph         : 15px;
$p-font-size-sm         : 16px;
$p-font-size-md         : 17px;
$p-font-size-lg         : 19px;

$h1-font-size-ph        : 28px;
$h1-font-size-sm        : 31px;
$h1-font-size-md        : 33px;
$h1-font-size-lg        : 36px;

/* font-family */
$h1-font-family         : system-ui;
$p-font-family          : system-ui;