@value ph-portrait from "_theme/var.css";

.avatar {
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    margin-right: 40px;
    
    .img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin: 0px 30px;
    }

    @media ph-portrait {
        margin-right: 0px;
    }
}